cmake_install.cmake
CMakeCache*
Makefile
CMake
CMakeFiles/
launch.sh
editor.sh
bin/CoreData
bin/Data
bin/urhovania
bin/Resources
bin/Resources/Models/States/*
bin/Resources/Models/Man/*
bin/Resources/Models/StageForest/*