cmake_install.cmake
CMakeCache*
Makefile
cmake.sh
CMake
CMakeFiles/
editor.sh
editor.bat
launch.sh
link.sh
link.bat
bin/CoreData
bin/Data
bin/urhovania
bin/Resources
bin/Resources/Models/States/*
bin/Resources/Models/Man/*
bin/Resources/Models/StageForest/*

compile_commands.json