cmake_install.cmake
CMakeCache*
Makefile
CMake
CMakeFiles/
editor.sh
editor.bat
link.sh
link.bat
bin/CoreData
bin/Data
bin/urhovania
bin/Resources
bin/Resources/Models/States/*
bin/Resources/Models/Man/*
bin/Resources/Models/StageForest/*